<ion-view view-title="Event" name="event-view">
	<ion-content class="padding">
			<div class="list list-inset">
					<label class="item item-input">
						<input type="text" placeholder="What's going on?" ng-model="data.title">
					</label>
					<label class="item item-input">
						<input type="date" ng-model="data.startDate" ng-model="data.startDate">
					</label>
					<label class="item item-input">
						<input type="date" ng-model="data.endDate">
					</label>
					<label class="item item-input">
						<textarea placeholder="Any other details you'd like to add?" ng-model="data.description"></textarea>
					</label>
			</div>
			<button class="button button-block button-calm" ng-click="create()">Create Event</button>
			<button class="button button-block button-calm" ng-click="cancel()">Cancel</button>
	</ion-content>
</ion-view>