<ion-view view-title="Followers" name="followers-view">
	<ion-content class="padding">
		<div ng-repeat="follower in user.followers">
			{{follower.user.fname}} {{follower.user.lname}}
			<span ng-show="follower.accepted == false">
			<i ng-click="approve(follower.user._id, true)" class="icon ion-checkmark-circled"></i>
			<i ng-click="approve(follower.user._id, false)" class="icon ion-close-circled"></i>
			</span>

			<span ng-show="follower.accepted == false && follower.date">declined {{follower.date}}</span>
		</div>
	</ion-content>
</ion-view>