<ion-view title="Main">
	<ion-side-menus enable-menu-with-back-views="false" drag-content="false">
		<ion-side-menu-content>
			<ion-nav-bar class="bar-positive">
				<ion-nav-back-button></ion-nav-back-button>

				<ion-nav-buttons side="left">
					<div>
						<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
						<div ng-show="notificationCount > 0" class="badge badge-assertive">{{notificationCount}}</div>
					</div>
				</ion-nav-buttons>

				<!--
				<ion-nav-buttons side="right">
					<button class="button button-icon button-clear ion-navicon" menu-toggle="right">
					</button>
				</ion-nav-buttons>
				-->
			</ion-nav-bar>

			<ion-nav-view name="mainContent">
				
			</ion-nav-view>
		</ion-side-menu-content> 

		<ion-side-menu side="left">
			<ion-view hide-nav-bar="true">
				<ion-tabs class="tabs-top tabs-positive">
					<ion-tab icon-on="ion-ios-home" icon-off="ion-ios-home-outline">
						<ion-nav-view >
							<ion-content>
								<div class="nav-item-main">
									<div class="nav-item-main-title" ng-click="show.friends = !show.friends"><span ng-class="{'ion-arrow-down-b': show.friends, 'ion-arrow-right-b': !show.friends}" class="icon"></span>Following</div>
									<div class="nav-item-sub" ng-show="show.friends" ng-repeat="following in user.following">
										<div class="nav-item-sub-item">{{following.user.fname}}</div>
									</div>
								</div>
						
								<div class="nav-item-main">
									<div class="nav-item-main-title" ng-click="show.events = !show.events"><span ng-class="{'ion-arrow-down-b': show.events, 'ion-arrow-right-b': !show.events}" class="icon"></span>Events</div>
									<div class="nav-item-sub" ng-show="show.events" ng-repeat="category in categories">
										<div ng-click="events(category.id)" class="nav-item-sub-item">{{category.category}}</div>
									</div>
								</div>

								<p class="subtitle">{{user._id}}</p>
							</ion-content>
						</ion-nav-view>
					</ion-tab>

					<ion-tab icon-on="ion-android-notifications" icon-off="ion-android-notifications-none">

					</ion-tab>

					<ion-tab icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
						<ion-nav-view >
							<ion-content>
								<div class="nav-item-main">
									<div class="nav-item-main-title" ng-click="show.followers = !show.followers"><span ng-class="{'ion-arrow-down-b': show.followers, 'ion-arrow-right-b': !show.followers}" class="icon"></span>Followers</div>
									<div class="nav-item-sub" ng-show="show.followers" ng-repeat="follower in user.followers">
										<div class="nav-item-sub-item">{{follower.user.fname}}</div>
									</div>
								</div>
							</ion-content>
						</ion-nav-view>
					</ion-tab>
				</ion-tabs>
			</ion-view>
					
					<!--
					<p class="subtitle">Welcome, {{user.fname}}</p>
					<div id="leftnav-search">
						<p class="subtitle">Follow a friend</p>
						<div class="item item-input">
							<input type="text" placeholder="Search by email..." ng-model="query.val">
							<a class="btn" ng-click="search()"><i class="icon ion-search"></i></a>
						</div>

						<div id="main-nav">
							<a href="#">
								<i class="icon icon-xl icon-map">
								<span>What's Near Me?</span>
							</a>

							<a href="#">
								<i class="icon icon-xl icon-map">
								<span>Follower Events</span>
							</a>
						</div>
						
						<div id="result-items" ng-hide>
							<div class="result-item" ng-repeat="result in searchResults">
								<div class="result-name">{{result.fname}} {{result.lname}}</div>
								<div class="result-action">
									<i class="icon icon-xl icon-link ion-ios-plus" ng-click="follow(result._id)"></i>
									<i class="icon icon-xl ion-eye"></i>
								</div>
								<br class="clearfix" />
							</div>
						</div>
					</div>

					<br class="clearfix" />

					-->

					<!--

					02/19/16 - I don't think we need this. Redundant with You Are Following below

					<p class="subtitle">Following</p>
					<div id="follower-items">
						<div class="follower-item" ng-repeat="follower in user.following">{{follower.user.fname}} {{follower.user.lname}}</div>
					</div>
					
					-->

					<!--

					<a href="#/main/map" menu-close><i class="icon ion-map"></i> Home</a>
					<a href="#/main/followers" menu-close>
						<i class="icon ion-map"></i> Your Followers
						<span class="badge badge-assertive">{{user.followers.length}}</span>
					</a>

					<a href="#/main/following" menu-close>
						<i class="icon ion-map"></i> You Are Following
						<span class="badge badge-assertive">{{user.following.length}}</span>
					</a>
						
					<a href="#/main/notifications" menu-close>
						<i class="icon ion-android-notifications"></i> Notifications
						<span class="badge badge-assertive" ng-show="notificationCount > 0">{{notificationCount}}</span>
					</a>
					<a href="#/main/settings" menu-close><i class="icon ion-settings"></i> Profile</a>
					<a href="#/login" menu-close><i class="icon ion-android-exit"></i> Logout</a>

					-->
		</ion-side-menu>
	</ion-side-menus>
</ion-view>